@model List<OptimizerApp.Models.PatientEstimateModel>

@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Save Time Estimate (In minutes)</h4>
            </header>
            <article class="card-body">
                <form asp-action="Save">

                    @Html.HiddenFor(x => x[0].DoctorID)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        @Html.HiddenFor(item => Model[i].PatientID)
                        <div class="form-group">

                            @Html.DisplayFor(modelItem => Model[i].PatientName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(model => Model[i].ExaminationTime, "", new { @required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model[i].ExaminationTime)                            
                        </div>

                    }

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btn-block"> Save  </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>


