@model EMR.Models.PatientModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Register</h4>
            </header>
            <article class="card-body">
                <form asp-action="RegisterPatient">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="text-danger">@ViewData["Error"]</div>
                    <div class="form-row">
                        <div class="form-group w-100">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="Hospital" class="control-label"></label>
                            <input asp-for="Hospital" class="form-control">
                            <span asp-validation-for="Hospital" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control">
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            @Html.RadioButtonFor(m => m.Gender, "Male", new { id = "compatible"})  @Html.Label("compatible", "Male")
                            @Html.RadioButtonFor(m => m.Gender, "Female", new { id = "notcompatible" })
                            @Html.Label("notcompatible", "Famale")
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="ResidentialAddress" class="control-label"></label>
                            <input asp-for="ResidentialAddress" class="form-control">
                            <span asp-validation-for="ResidentialAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="PostalAddress" class="control-label"></label>
                            <input asp-for="PostalAddress" class="form-control">
                            <span asp-validation-for="PostalAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="ContactNumber" class="control-label"></label>
                            <input asp-for="ContactNumber" class="form-control">
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="Education" class="control-label"></label>
                            <input asp-for="Education" class="form-control">
                            <span asp-validation-for="Education" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="Employer" class="control-label"></label>
                            <input asp-for="Employer" class="form-control">
                            <span asp-validation-for="Employer" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="Insurance" class="control-label"></label>
                            <input asp-for="Insurance" class="form-control">
                            <span asp-validation-for="Insurance" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="FamilyHistory" class="control-label"></label>
                            @Html.TextAreaFor(m => m.FamilyHistory, new { @class = "form-control" })
                            <span asp-validation-for="FamilyHistory" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="Medications" class="control-label"></label>
                            @Html.TextAreaFor(m => m.Medications, new { @class = "form-control" })
                            <span asp-validation-for="Medications" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="PastProblems" class="control-label"></label>
                            @Html.TextAreaFor(m => m.PastProblems, new { @class = "form-control" })
                            <span asp-validation-for="PastProblems" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="CurrentProblems" class="control-label"></label>
                            @Html.TextAreaFor(m => m.CurrentProblems, new { @class = "form-control" })
                            <span asp-validation-for="CurrentProblems" class="text-danger"></span>
                        </div>
                        <div class="form-group w-100">
                            <label asp-for="Allergies" class="control-label"></label>
                            @Html.TextAreaFor(m => m.Allergies, new { @class = "form-control" })
                            <span asp-validation-for="Allergies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" class="form-control">
                        <span type="password" asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group w-100">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control">
                        <span type="password" asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span style="color:red"> @TempData["error"]</span>
                    </div>
                    <div class="form-group w-100">
                        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>

