@model IEnumerable<EMR.Models.PatientModel>

@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

<div class="card">
    <h2 class="card-header text-center bg-success text-light">My Patients</h2>
    <br/>
    @*<div class="form-group">
            <input type="button" class="btn-group-lg btn-primary" value="Add Doctor" onclick="window.location.href='@Url.Action("AddDoctor", "DoctorApp" )'" />
        </div>*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VisitReason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>              

                <td>
                    <a class="btn-sm btn-primary" asp-action="EditPatient" asp-route-id="@item.Key">Record Notes</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
